/**
 * Name: Christopher Munroe, christopher_munroe1@student.uml.edu
 * Student of COMP.4610 GUI Programming I
 * Created: 12/3/2017
 * Creates a chart of price and fuel consumption using sliders and multiple tab design.
 **/

body {
  display: block;
  overflow: visible;
  min-width: 900px;
}

#form_wrap {
  display: inline-block;
  margin: 60px 100px;
  padding: 20px;
  background: #E9E9E9;
  border-radius: 10px;
  text-align: center;
  font-size: 16px;
  font-family: 'helvetica neue', 'helvetica', arial, sans-serif;
  color: #111;
  line-height: 1.4;
}

#input_form {
  display: inline-block;
  background: #fff;
  padding: 20px;
  border: 1px solid #aaa;
  text-align: left;
  color: #0077ca;
  font-weight: bold;
  width: 450px;
}

.seperator {
  width: 100%;
  height: 0;
  margin-top: 20px;
  border-bottom: 1px solid #aaa;
}

#submit {
  display: block;
  text-align: center;
  width: 100%;
  padding: 5px;
  color: white;
  background-color: #5A7CC2;
  border: 3px outset #5A7CC2;
  cursor: pointer;
  margin-top: 30px;
  font-weight: bold;

  font-size: 16px;
  font-family: 'helvetica neue', 'helvetica', arial, sans-serif;
  line-height: 1.4;

  /* disables highlight */
  -webkit-user-select: none; /* Chrome/Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
}

#submit:active {
  border: 3px inset #5A7CC2;
}

#error {
  font-weight: bold;
  color: red;
}

input.error {
  border-color: red;
}

label.error {
  color: red;
  margin: 0 10px;
}

#price_wrap, #mpg_wrap {
  display: inline-block;
}

input {
  text-align: right;
  padding-right: 5px;
  margin-bottom: 4px;
}

.add_input {
  display: block;
  text-align: center;
  padding: 2px;
  color: white;
  background-color: #5A7CC2;
  border: 3px outset #5A7CC2;
  cursor: pointer;
  width: 168px;

  /* disables highlight */
  -webkit-user-select: none; /* Chrome/Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
}

.add_input:active {
  border: 3px inset #5A7CC2;
}

.input_single {
  display: block;
}

.label {
  display: block;
  text-align: left;
  margin-top: 20px;
}

.b_input_deco {
  display: inline-block;
  width: 0;
  position: relative;
  top: 1px;
  left: 10px;
  
  /* makes anything after the decorator move left so we */
  /* can superimpose the dollarsign */
  margin: 0 0 0 -4px;
}

table {
  border-collapse: collapse;
}

/* table section */
td, th {
  border: 1px solid black;
  text-align: center;
  padding: 8px;
  background-color: white;
}

th {
  background-color: #C6DEFF;
}

/* exact values hidden in the html */
.mi_exact {
  display: none;
}

.empty {
  background-color: #DDDDDD;
}

fieldset {
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  -webkit-padding-before: 0;
  -webkit-padding-start: 0;
  -webkit-padding-end: 0;
  -webkit-padding-after: 0;
  padding: 0;
  border-width: 0px;
}

.close_button {
    margin-left: 10px;
}

#close_all {
    display: inline-block;
    padding: .5em 1em;
    cursor: pointer;
    color: white;
    font-weight: normal;
    background-color: #f55;
}

#close_all_li {
    float: right;
    border: 1px solid #c5c5c5;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    background: #f6f6f6;
    font-weight: normal;
    color: #454545;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

#create_new {
    display: inline-block;
    padding: .5em 1em;
    cursor: pointer;
    color: white;
    font-weight: normal;
    background-color: #5d5;
}

#create_new_li {
    border: 1px solid #c5c5c5;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    background: #f6f6f6;
    font-weight: normal;
    color: #454545;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.fa-lg {
    cursor: pointer;
}

.fa-lg:hover {
    cursor: pointer;
}

table {
    float: right;
    position: fixed;
    top: 100px;
    left: 700px;
    margin-right: 60px;
}

.slider {
  width: 195px;
  margin-top: 3px;
  margin-bottom: 20px;
}
